@model MyApp.Models.empmodel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>EmpDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="add_emp">
            <div>
                <input type="hidden" asp-for="Id" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-control" asp-for="Name" typeof="text"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder ="Enter Name" required="required" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" placeholder="Enter Email" required="required" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" placeholder="Enter Department" required="required" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" placeholder="Enter Mobile" required="required" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" placeholder="Enter City" required="required" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
